# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
pip-wheel-metadata/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/
ENV/
.venv

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Coverage
htmlcov/
.coverage*
.cache/
.pytest_cache/

# Generated artifacts
out/
examples/outputs/*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# Bandit
.bandit

# MacOS
.DS_Store
